#menu-toggle {
    display: none;
  }
  
  #menu-icon {
    font-size: 30px;
    cursor: pointer;
  }
  
  #menu {
    position: fixed;
    top: 0;
    right: -200px; /* Initially hidden outside the viewport */
    width: 200px;
    height: 100%;
    background-color: #f2f2f2;
    transition: right 0.3s ease-in-out;
  }
  
  #menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #menu li {
    padding: 10px;
  }
  
  #menu a {
    text-decoration: none;
    color: #333;
  }
  
  #menu-toggle:checked ~ #menu {
    right: 0; /* Slide the menu into view when the checkbox is checked */
  }
  