/* Global rules */

/* Fonts */
@import url('https://db.onlinewebfonts.com/c/5b0be84ee7019608e3e098c541290494?family=DIN+Next+LT+Pro');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://db.onlinewebfonts.com/c/16efa2896f117dae2debeb23ab4715dd?family=DidoteTextW01-Italic');
@font-face {
    font-family: 'Futura LT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Book'), url('fonts/FuturaLT-Book.woff') format('woff');
}

html {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-size: 2000px 1200px;
    background-attachment: fixed;
}

body{
    margin:0; /* removes gap at top of page */
}

::selection {
    color: #000; 
    background: #C92E24;
}

/* start topic page styles */
.body-content {
    color: #FFF;
    background-color: rgba(0,0,0,0.75);
    font-family: 'Futura LT Book';
}

h2.body-content-header {
    font-size: 50px;
}

h2.body-content-subheader {
    font-size: 32px;
}
/* end topic page styles */

/* start positioning styles */
/*
 .margin-auto > div{
    color: black;
    margin:auto;
    width:50%;
    background-color:beige;
    text-align:center;
 }
*/

 /* Allows box to take up full space, ignoring padding/margin */
* {
    box-sizing: border-box;
}
 
 
 /* Create two equal columns that floats next to each other */
 .my-column {
    color: black;
    float: left;
    width: 50%;
    padding: 10px;
    min-height: 300px; /* Can be removed. Only for demonstration */
}
   /* Clear floats after the columns */
.my-row:after {
    content: "";
    display: table;
    clear: both;
}

  
  @media all and (max-width:500px) {
    .my-column {
        width: 100%;
      }
 }

  /* flexible image rules start here */


.flexible img{
    width:100%;
}
 
 
.flexible{
    display: flex;
    justify-content: space-evenly;
}
 
 
 /* flexible image rules end here */

 /* grid rules start here */

 /*
.layout {
    width: 100%;
    display: grid;
    grid:
      "header" 212px
      "gallery" 604px
      "introduction" 451px
      "links" 474px
      "social-media" 187px
      "footer" 286px
      / 100%;
    gap: 10px;
    justify-items: stretch;
}
*/

.layout {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    justify-items: stretch;
  }

/* start header rules */
/*
header {
    font-size: 0.95em;
    line-height: 1.5em;
    height: 212px;
    color: #000;
    background-color: #FFF; 
    display: grid; 
    grid-template-columns: 980px; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header-content";
    justify-items: center;
    justify-content: center;
}
*/

header {
    font-size: 0.95em;
    line-height: 1.5em;
    height: 212px;
    color: #000;
    background-color: #fff; 
    display: grid;
    grid-template-columns: 980px; 
    grid-template-rows: 1fr;
    gap: 0px 0px; 
    grid-template-areas: 
    "header-content";
    justify-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
  }
/*
.header-content {
    width: 100%;
    height: 212px; 
    display: grid; 
    grid-template-columns: 120px 1fr 251px; 
    grid-template-rows: 94px 39px 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "ff-logo furia-flamenca-area furia-flamenca-area"
    "ff-logo . header-social"
    "ff-logo navbar navbar"; 
    justify-content: stretch; 
    align-content: stretch; 
    justify-items: center; 
    align-items: center;
    justify-self: center;
    align-self: center;
    grid-area: header-content; 
}
*/
.header-content {
    grid-area: header-content; 
    width: 100%;
    height: 212px; 
    display: grid;
    grid-template-columns: 120px 1fr 251px;
    grid-template-rows: 94px 39px 1fr;
    gap: 0px 0px;
    grid-template-areas: 
    "ff-logo furia-flamenca-area furia-flamenca-area"
    "ff-logo . header-social"
    "ff-logo navbar navbar"; 
    align-items: center;
    justify-self: center;
    align-self: center;
  }

.ff-logo {
    align-self: stretch; 
    grid-area: ff-logo; 
    height: 228px;
    width: 120px;
}

.furia-flamenca-area {
    height: 94px;
    width: auto;
    line-height: 45px;
    justify-self: start; 
    align-self: start;
    grid-area: furia-flamenca-area; 
}

.header-social {
    font-size: 20px;
    grid-area: header-social;
    justify-self: stretch; 
    align-self: start; 
    grid-area: header-social;
    width: 251px; 
    height: 39px;
    z-index: 2;     /* display in front of white background of .topnav a:hover */
}
/*
.navbar {
    grid-area: navbar;
    /* do I need an internal grid for positioning links?*/
    /*
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: 157px;
    gap: 0px 0px; 
    justify-content: stretch; 
    align-content: center; 
    justify-items: stretch; 
    align-items: center; 
    *//*
    justify-self: stretch; 
    align-self: end; 
}
*/

.navbar {
    /* Use only for placing inside header-content */
    grid-area: navbar;
  }


h1 {
    color: #000;
    font-weight: normal;
    margin: 0px;
    line-height: 40px;
    overflow-wrap: break-word;
}

.furia-flamenca {
    font-family: 'DIN Next LT Pro';
    font-size: 39px;
}

.estela-velez {
    font-family: 'DidoteTextW01-Italic';
    font-size: 30px;
}

h2.intro-header {
    font-family: 'Futura LT Book', sans-serif;
    font-weight: normal;
    font-size: 28px;
    margin-left: 1em;
    line-height: 1em;
}

.social-container {
    display: flex;
    justify-content: space-evenly;
}

.header-social-link {
    color: #FFF;
    background-color: #000;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-facebook {
    padding: 20px 23px;
}
/* end header rules */

/* start gallery rules */
.gallery { 
    height: 604px;
    display: grid;
    grid-template-columns: 980px;
    grid-template-rows: 558px;
    gap: 0px 0px;
    grid-template-areas: 
    "galleria";
    justify-content: center;
    align-content: center;
}

#galleria { 
    width: 980px; 
    height: 558px; 
    background: #000;
    grid-area: galleria;
    justify-self: center;
    align-content: center;
}
/* end gallery rules */

/* start introduction rules */
.introduction {
    height: 451px;
    padding: 20px 10px;
    color: #000;
    background-color: #FFFFFF;
    display: grid; 
    grid-template-columns: 307px 307px 232px; 
    grid-template-rows: 240px 56px; 
    gap: 50px 20px; 
    grid-template-areas: 
    "intro-text intro-text intro-photo"
    "intro-learn-more intro-artistic-director intro-photo"; 
    align-content: center;
    justify-content: center; 
}

.intro-text { 
    grid-area: intro-text;
    z-index: 1; 
}

.intro-photo { grid-area: intro-photo; }
.intro-learn-more { grid-area: intro-learn-more; }
.intro-artistic-director { grid-area: intro-artistic-director; }
.intro-button {
    font-family: sacramento, cursive;
    font-size: 40px;
    text-align: center;
    color: #000;
    z-index: 1;
}

.link-turns-pink:hover {
    color: #961851;
    background: transparent;
}
/* end introduction rules */

/* start links rules */
.links { 
    height: 474px; 
}

.link-grid {  
    display: grid;
    grid-template-columns: 295px 295px 295px;
    grid-template-rows: 434px;
    gap: 0px 25px;
    grid-auto-flow: row;
    align-content: center;
    justify-items: stretch;
    justify-content: space-evenly;
    grid-template-areas:
      ". . .";
    padding: 20px 0px;
}

.link-content {
    color: #FFF;
    background-color: rgba(0,0,0,0.75);
    font-weight: normal;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    align-content: center;
    align-items: center;
}

a.link-box-header {
    font-family: Sacramento, cursive;
    font-size: 40px;
    color: #FFF;
}

a.link-box-header:hover {
    background: transparent;
    color: #961851;
}

a.learn-more {
    font-family: Sacramento, cursive;
    font-size: 27px;
    color:#FFF;
}

/* end links rules */

/* start social-media rules */
.social-media { 
    height: 187px;
    background-color: #961851;
    color: #FFF;
    text-align: center;
}

.social-media a {
    font-family: Sacramento, cursive;
    font-size: 40px;
    white-space: nowrap;
    color: #FFF;
    vertical-align: baseline;
}

.social-link {
    color:#961851;
    background-color: #FFF;
}

.social-link:hover {
    background-color: #000;
}
/* end social-media rules */

/* start footer rules */
footer {
    height: 200px;
    display: grid; 
    grid-template-columns: 262px 295px 262px; 
    grid-template-rows: 175px; 
    gap: 20px 25px; 
    grid-template-areas: 
        "footer-navigation mailing-list contact"; 
    justify-content: center; 
    align-content: center;
    justify-items: center; 
    align-items: center; 
    grid-area: footer;
}

.footer-box {
    width: 262px;
    height: 175px;
    color:#000;
    background-color: #FFF;
    text-align: center;
    font-family: 'Futura LT Book', sans-serif;
    font-size: 18pt;
}

.footer-box a {
    color: #000;
}

.footer-box a:hover {
    color: #961851;
    background: transparent;
    text-decoration: none;
}

.footer-navigation { 
    grid-area: footer-navigation;
}

.footer-navigation ul {
    list-style: none;
}

.footer-navigation li {
    font-size: 18px;
}

.mailing-list { 
    grid-area: mailing-list;
    height: 175px;
    width: 295px;
    color: #FFF;
    background-color: #000;
    text-align: center;
}

#email-input {
    background-color: rgb(59, 59, 59);
    border-color:#961851;
    font-family: 'Futura LT Book';
    font-size: 14pt;
    width: 264px;
    height: 37px;
}

#subscribe-now {
    background-color: #961851;
    border-color: #961851;
    color: #000;
    width: 264px;
    height: 39px;
    border-top-width: 1.6px;
    font-size: 13.333px;
}

.contact { 
    grid-area: contact;
}

.copyright {
    font-size: 13px;
    font-family: 'DIN Next LT Pro';
}
/* end footer rules */

/*old*/
/*
 .link-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px
    grid-row-gap: 20px
    justify-items: stretch
    align-items: stretch
 }
 */
  

/* grid rules end here */ 
 

/* end positioning styles */


/*
 The border radius on h1.page-header and main.wrapper provide the 
 curved corners that appear on the body area of the page
*/

/*
 main.wrapper {
    color: #FFFFFF;
    background-color: #000;
    overflow: auto;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 50%;
 }
 */

p {
    margin: 1em; /* Top Right Bottom Left (TRBL) */
    font-family: 'Futura LT Book', sans-serif;
    font-size: 18px;
}

a {
    color: #961851;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: #961851;
    text-decoration: none;
}

footer {
    clear: both;
    padding: 1em;
}

/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    main.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 850px;
        padding-left: 1%;
    }
    /*Don't need this with intro subgrid*/
 /*   
    picture.introduction-image img {
        width: 232px;
        height: 336px;
        object-fit: contain;
        float: right;
        margin-left: 2em;
    }
*/
/*
    picture.ff-logo img {
        height: 120px;
        width: 228px;
        float:left;
        vertical-align: baseline;
    }
*/    
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 90%;
        padding-left: 1%;
    }
    
    picture.introduction-image img {
        width: 50%;
        float: right;
        margin-left: 1em;
    }

}

/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 100%;
        padding-left: 1%;
    }
    
    picture.introduction-image img {
        width: 100%;
    }
    
}
