

/* Global rules */

 /* Navbar container */

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: end;
}


/* Links inside the navbar */

.topnav a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Futura LT', sans-serif;
}

/*highlight as you hover over a selection*/
.topnav a.hover {
    color: #961851;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/*----------------Hamburger menu-----------------*/
#nav-slide-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%; /* Hide offscreen until hamburger icon is clicked */
    background-color: #000;
    color: #fff;
    transition: all 0.5s ease;
}

#nav-slide-menu ul {
    list-style: none;
}

#nav-slide-menu li {
    display: inline-block;
    line-height: 1.5em;
    font-family: 'Futura LT';
    font-size: larger;
    text-decoration: none;
}

.slide-menu-submenu {
    transform-origin: 0 0;
    transform: scaleY(0);
    transition: 0.3s;
}

#hamburger:checked ~ #nav-slide-menu {
    right: 100%;
}

#company-submenu-toggle:checked ~ #company-submenu {
    transform: scaleY(1);
}

#performances-submenu-toggle:checked ~ #performances-submenu {
    transform: scaleY(1);
}

/*-----------------------------------------------*/


/* https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp */

/* Dropdown container - needed to position the dropdown content */

.dropdown {
    position: relative;
  }

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: #000000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Futura LT', sans-serif;
    margin: 0;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change text to fuschia on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #fff;
    /* background: transparent; */
    color: #961851;
}

/* Change text to fuschia for dropdown links on hover */
.dropdown-content a:hover {
    background-color: #fff;
    color: #961851;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Responsive rules - apply when screen width is less than 980px */

@media screen and (max-width: 979px) {
    .topnav a/*:not(:first-child)*/, .dropdown .dropbtn {
        display: none;
    }
    
    /* Show hamburger menu icon */
    .topnav a.icon {
        float: right;
        display: block;
        font-size: xx-large;
    }

    /* Doing hamburger menu my own way */
    /*
    .topnav.responsive {
        position: relative;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    */
    /* https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp */
    /*

    .topnav.responsive .dropdown {
        float: none;
    }
    
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    */
}


/* DESKTOP */
@media all and (min-width:980px) {
    .topnav {
        width: 80%;
    }
}

/* TABLET */
@media all and (min-width:501px) and (max-width:980px) {
    .topnav {
        width: 90%;
    }
}

/* PHONE */
@media all and (max-width:500px) {
    .topnav {
        width: 100%;
    }
}
